<template name="questionnaire">
    <form class='submit-answers'>
        {{#with answers}}
        <div class="section">
            <h2>{{_ "question_1"}}</h2>
            <hr />
            <div>
                {{#if answers.answers1}}
                {{ answers.answers1 }}
                {{else}}
                <input type="text" name="answer1" />
                {{/if}}
            </div>
        </div>
        <div class="section">
            <h2>{{_ "question_2"}}</h2>
            <hr />
            <div>
                {{#if answers.answer2}}
                {{answers.answer2}}
                {{else}}
                <input type="text" name="answer2" />
                {{/if}}
            </div>
        </div>
        <div class="section">
            <h2>{{_ "question_3"}}</h2>
            <hr />
            <div>
                {{#if answers.answer3}}
                {{answers.answer3}}
                {{else}}
                <input type="text" name="answer3" />
                {{/if}}
            </div>
        </div>

        <button class="rc-button rc-button--primary">{{> icon block="rc-input__icon-svg" icon="plus"}}{{_ "Submit_Answer"}}</button>
        {{/with}}
    </form>
</template>
